/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    combos {
        compatible = "zmk,combos";
        combo_illustrator {
            timeout-ms = <50>;
            key-positions = <2 5 8>;  // physical top row (3 6 9)
            bindings = <&tog 1>;
        };
        combo_hotkey {
            timeout-ms = <50>;
            key-positions = <1 4 7>;  // physical middle row (2 5 8)
            bindings = <&tog 2>;
        };
        combo_media {
            timeout-ms = <50>;
            key-positions = <0 3 6>;  // physical bottom row (1 4 7)
            bindings = <&tog 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -------------------
// | 3      |  6  |  9  |
// | 2      |  5  |  8  |
// | 1      |  4  |  7  |
// -------------------
            bindings = <
    &kp N7 &kp N4 &kp N1
    &kp N8 &kp N5 &kp N2
    &kp N9 &kp N6 &kp N3
            >;
        };

illustrator_layer {
    // -----------------------------------------
    // | BRING_FRONT | BRING_FWD  | DESELECT  |
    // | GROUP       | COPY_PLACE | GUIDES    |
    // | SEND_BACK   | SEND_BACK  | UNGROUP   |
    // -----------------------------------------
            bindings = <
    &kp LC(LS(RBKT))  &kp LC(LA(RBKT))  &kp LC(LS(A))
    &kp LC(LS(G))     &kp LC(LA(C))     &kp LC(SEMICOLON)
    &kp LC(LS(LBKT))  &kp LC(LA(LBKT))  &kp LC(LS(G))
        >;
    };

        hotkey_layer {
// -----------------------------
// | Ctrl+X | Ctrl+S  | Ctrl+A   |
// | Ctrl+V | Ctrl+Y  | C-S-N    |
// | Ctrl+C | Ctrl+Z  | C-S-T    |
// -----------------------------
            bindings = <
    &kp LC(X)     &kp LC(S)     &kp LC(A)
    &kp LC(V)     &kp LC(Y)     &kp LC(LS(N))
    &kp LC(C)     &kp LC(Z)     &kp LC(LS(T))
            >;
        };

        media_layer {
// -----------------------------
// | Vol Dn  | Next       | Firmware_RST   |
// | PP      | Mute       | BRI Dn |
// | Vol Up  | Prev       | BRI Up |
// -----------------------------
            bindings = <
    &kp C_VOL_DN &kp C_NEXT   &bootloader
    &kp C_MUTE   &kp C_PP     &kp C_BRI_DN
    &kp C_VOL_UP &kp C_PREV   &kp C_BRI_UP
            >;
        };
    };
};